<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="iTopModelPath" value="C:/Users/boucher_g/Downloads/atrier/iTop-2.5.1-4123/web/datamodels/2.x/"/>
    <add key="SaveDirectory" value="C:/_dev/cmdb/itop_model/CmdbModel/Model/"/>
    
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>